<section class="sales mb-3 mb-lg-5">
    <div class="owl-carousel owl-theme banner-carousel position-relative">
        <div class="item">
            <img src="Sales/imgs/banner2.png" alt="">
        </div>
        <div class="item">
            <img src="Sales/imgs/banner3.png" alt="">
        </div>
        <div class="item">
            <img src="Sales/imgs/banner.png" alt="">
        </div>
    </div>
    <div class="container-lg">
        <div class="d-flex align-items-center justify-content-between my-3 mt-lg-5">
            <h1>TOP BRANDS</h1>
        </div>
        <div class="brand mb-4 mb-lg-5">
            <div class="d-flex justify-content-center align-items-center brand-container" ng-repeat="brand in $ctrl.brands">
                <div class="img-container">
                    <img ng-src="{{brand.imageUrl}}" alt="">
                </div>
            </div>
        </div>

        <!-- BULB -->
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-3">BULB LIGHTS</h1>
        </div>
        <section class="product-carousel">
            <div class="owl-carousel owl-theme owl-product-carousel mb-4 mb-lg-5">
                <div ng-repeat="product in $ctrl.filteredBulb">
                    <div class="product-item position-relative">
                        <a class="img-container d-block" href="#!/Homepage/{{product.id}}">
                            <img ng-src="{{product.imageUrl}}" alt="{{product.name}}">
                        </a>
                        <span class="sale-tag position-absolute">{{product.sale}}</span>
                        <a href="#!/Homepage/{{product.id}}">
                            <p>{{product.name}}</p>
                        </a>
                        <div class="price">
                            <span class="old-price">{{product.oldPrice}}</span>
                            <span class="new-price">{{product.newPrice}}</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between  mt-2">
                            <span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                            </span>
                            <span class="favorite" ng-click="$ctrl.favorite($event)">
                                <span class="material-icons heart-outline">
                                    favorite_border
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SPOT -->
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-3">SPOT LIGHTS</h1>
        </div>
        <section class="product-carousel">
            <div class="owl-carousel owl-theme owl-product-carousel mb-4 mb-lg-5">
                <div ng-repeat="product in $ctrl.filteredSpot">
                    <div class="product-item position-relative brand-contaienr">
                        <div class="img-container">
                            <img ng-src="{{product.imageUrl}}" alt="{{product.name}}">
                        </div>
                        <span class="sale-tag position-absolute">{{product.sale}}</span>
                        <a href="#!/Homepage/{{product.id}}">
                            <p>{{product.name}}</p>
                        </a>
                        <div class="price">
                            <span class="old-price">{{product.oldPrice}}</span>
                            <span class="new-price">{{product.newPrice}}</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between  mt-2">
                            <span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                            </span>
                            <span>
                                <span class="material-icons heart-outline">
                                    favorite_border
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SMART -->
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-3">SMART LIGHTS</h1>
        </div>
        <section class="product-carousel">
            <div class="owl-carousel owl-theme owl-product-carousel mb-4 mb-lg-5">
                <div ng-repeat="product in $ctrl.filteredSmart">
                    <div class="product-item position-relative brand-contaienr">
                        <div class="img-container">
                            <img ng-src="{{product.imageUrl}}" alt="{{product.name}}">
                        </div>
                        <span class="sale-tag position-absolute">{{product.sale}}</span>
                        <a href="#!/Homepage/{{product.id}}">
                            <p>{{product.name}}</p>
                        </a>
                        <div class="price">
                            <span class="old-price">{{product.oldPrice}}</span>
                            <span class="new-price">{{product.newPrice}}</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between  mt-2">
                            <span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                            </span>
                            <span>
                                <span class="material-icons heart-outline">
                                    favorite_border
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- DECORATION -->
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-3">DECORATION LIGHTS</h1>
        </div>
        <section class="product-carousel">
            <div class="owl-carousel owl-theme owl-product-carousel mb-4 mb-lg-5">
                <div ng-repeat="product in $ctrl.filteredDecoration">
                    <div class="product-item position-relative brand-contaienr">
                        <div class="img-container">
                            <img ng-src="{{product.imageUrl}}" alt="{{product.name}}">
                        </div>
                        <span class="sale-tag position-absolute">{{product.sale}}</span>
                        <a href="#!/Homepage/{{product.id}}">
                            <p>{{product.name}}</p>
                        </a>
                        <div class="price">
                            <span class="old-price">{{product.oldPrice}}</span>
                            <span class="new-price">{{product.newPrice}}</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between  mt-2">
                            <span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                            </span>
                            <span>
                                <span class="material-icons heart-outline">
                                    favorite_border
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>