@import '../variable.scss';
@include format;

#signin-form {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Inter';
    font-style: normal;

    .signin-heading {
        font-weight: 700;
        font-size: 26px;
        line-height: 20px;
        color: #202020;
        text-align: center;
        margin-bottom: 10px;
    }

    #signin-login {
        max-width: 350px;
        flex-grow: 1;

        input:valid {
            color: $black;
        }
    }

    .form-group {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border-bottom: 1px solid #999999;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .erInput {
        font-style: italic;
        color: red;
    }

    .form-input {
        background: transparent;
        border: 0;
        outline: 0;
        color: $black;
        flex-grow: 1;
        width: 100%;
    }

    .form-input::placeholder {
        color: #999999;
    }

    .form-submit {
        @include yellow-btn;
    }

    .form-submit[disabled=disabled]
    {
        cursor: default;
        background-color: $yellow;
        opacity: 50%;
    }

    .form-footer {
        a {
            color: $black;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: $black;
            margin-bottom: 10px;
        }
    }

    .form-footer:hover {
        font-weight: bold;
    }

    .form-footer2 {
        a {
            font-size: 12px;
            line-height: 15px;
        }

        .form-createInfo {
            font-weight: 400;
            color: #938F8F;
        }

        .form-createAcount {
            font-weight: 600;
            color: $black;
        }

        .form-createAcount:hover {
            font-weight: bold;
        }
    }

    .error {
        color: red;
    }

    h4 {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #535050;
        text-align: center;
        margin-top: 20px;
    }
}