@import './variable.scss';
* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    color: $black;
    box-sizing: border-box;
    font-size: 16px;
}

.header {
    nav {
        height: 60px;

        @include on('lg') {
            height: 100px;
        }
    }

    &-logo {
        width: 134px;
        
        @include on('lg') {
            width: 282px;
        }
    }

    .cart {
        display: inline-block;

        &-badge {
            background-color: $yellow;
            color: $white;
            border-radius: 50%;
            font-size: 12px;
            width: 16px;
            height: 16px;
            text-align: center;
            top: -5px;
            right: -5px;
        }
    }

    .material-icons-outlined {
        color: $grey;
    }

    #collapseNav {
        top: 60px;
        left: 0;
        width: 80%;

        &>div {
            padding: 20px 24px;
            background-color: $white;
            font-weight: 500;
        }

        .material-icons-outlined {
            color: $yellow;
            cursor: pointer;
        }

        a {
            padding-bottom: 8px;
            display: block;

            &:hover {
                color: $yellow;
            }
        }

        .collapseSubMenuLev1 {
            
        }

        .collapseSubMenuLev2 {
            a {
                display: block;
            }
        }
    }
}

a {
    display: inline-block;
    text-decoration: none;
    color: $black
}

