@import '../variable.scss';
@include format;

#signup-form {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-style: normal;
    .form-signin {
        color: $black;
    }
    .error {
        color: red;
    }
    .signup-heading {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $black;
        text-align: center;
        margin-bottom: 10px;
    }
    #signup-login {
        max-width: 350px;
        flex-grow: 1;
    }
    .form-group {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        border-bottom: 1px solid #999999;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .erInput {
        font-style: italic;
        color: red;
    }
    .form-input {
        background: transparent;
        border: 0;
        outline: 0;
        color: $black;
        flex-grow: 1;
        width: 100%;
    }
    .form-input::placeholder {
        color: #999999;
    }

    .form-submit {
        @include yellow-btn;
        width: 100%;
    }

    .form-submit[disabled=disabled]
    {
        background-color: $yellow;
        opacity: 50%;
        cursor: default;
    }

    .form-footer {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $black;
        margin-bottom: 10px;
    }

    .form-footer:hover {
        font-weight: bold;
    }
    .form-footer2 {
        line-height: 15px;
        a {
            font-size: 12px;
            &:last-of-type {
                font-weight: 600;
            }
        }

        .form-createInfo {
            font-weight: 10;
            color: #938F8F;
        }
        .form-createAcount {
            font-weight: 500;
            color: $black;
        }
        .form-createAcount:hover {
            font-weight: bold;
        }
    }
    h4 {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #535050;
        text-align: center;
        margin-top: 20px;
    }
}