@import '../variable.scss';

.contact {
    h1 {
        font-size: 18px;
        margin-bottom: 16px;
        font-weight: 600;
    
        @include on('lg')
        {
            font-size: 24px;
        }
    }

    .form-group {
        p {
          font-size: 16px;
          font-weight: 500;
        }
    
        ::placeholder {
          font-size: 14px;
          color: $grey;
        }
    
        input, select {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid $grey;
    
          &:focus {
            outline: none;
          }
        }

        textarea {
            border-radius: 5px;
            border-color: $grey;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 100px;
          }
      }

      button {
          @include yellow-btn;
          display: flex;
          align-items: center;
          justify-content: center;
          height: fit-content;
      }
    
    div {
        span:nth-child(2),
        span:last-child {
            font-size: 14px;
            @include on('lg')
            {
                font-size: 16px;
            }
        }
    }
}