 @import '../variable.scss';
 * {
     font-family: 'Inter', sans-serif;
     padding: 0;
     margin: 0;
     color: $black;
     box-sizing: border-box;
     font-size: 16px;
 }
 
 .contact {
     font-family: 'Inter';
     font-style: normal;
     //  max-width: 540px;
     width: 540px;
     .contact-map {
         //  max-width: 540px;
         width: 100%;
         height: 250px;
     }
     .contact-headOffice {
         //  max-width: 540px;
         //  padding: 10px;
         width: 100%;
         margin-top: 10px;
         margin-bottom: 10px;
         line-height: 30px;
         font-size: 14px;
         .table-column1 {
             width: 40px
         }
         .table-column2 {
             width: 500px
         }
     }
     #contact-form {
         display: flex;
         justify-content: center;
         align-items: center;
         .contact-heading {
             font-weight: 600;
             font-size: 18px;
             line-height: 22px;
             color: #000000;
             text-align: center;
         }
         .contact-group {
             border-bottom: 1px solid #999999;
             margin-top: 20px;
             margin-bottom: 20px;
             font-weight: 500;
             font-size: 16px;
             line-height: 19px;
             input:invalid {
                 color: red;
             }
             input:valid {
                 color: #000000;
             }
             .form-input {
                 width: 100%;
                 border: 0;
                 outline: 0;
                 color: #2E2C2C;
                 flex-grow: 1;
                 #uSubject {
                     float: right;
                     margin-right: 0px;
                 }
                 .uSelect {
                     border: 0;
                     float: right;
                 }
             }
             .form-input::placeholder {
                 color: #999999;
             }
         }
         .contact-content {
             width: 100%;
             height: 80px;
         }
         .contact-attach:hover {
             font-weight: bold;
         }
         .contact-submit {
             height: 40px;
             width: 100%;
             background: #FF9F15;
             border: 1px solid #FF9F15;
             border-radius: 5px;
             margin-top: 10px;
             margin-bottom: 10px;
             font-weight: 500;
             font-size: 16px;
             line-height: 19px;
             color: #FDF9F9;
         }
         .contact-submit:hover {
             border: 1px solid #0d6adc;
         }
     }
 }