@import '../variable.scss';
.about {
    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
        text-align: center;
    }
    h3 {
        font-style: italic;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
        text-align: center;
    }
    .about-info1 {
        // position: absolute;
        // display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-align: justify;
        // align-items: center;
        float: left;
        // @include on('lg') {
        //     left: 10px;
        // }
    }
    .about-image5 {
        width: 555px;
        height: 380px;
        background: url(image.png);
        border-radius: 5px;
        float: right;
    }
    .about-info2 {
        // position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-align: justify;
        display: flex;
        float: right;
    }
    .about-image7 {
        // position: relative;
        // width: 464px;
        // height: 580px;
        width: 555px;
        height: 380px;
        background: url(image.png);
        border-radius: 5px;
        // display: flex;
        // float: left;
    }

    h2 {
        font-size: 32px;
        font-weight: 700;
    }
    // .about-history {
    //     position: absolute;
    //     width: 257px;
    //     height: 29px;
    //     left: 59px;
    //     top: 1268px;
    //     font-style: normal;
    //     font-weight: 700;
    //     font-size: 24px;
    //     line-height: 29px;
    //     text-align: center;
    //     color: #000000;
    // }
    // .about-history1 {
    //     position: absolute;
    //     width: 335px;
    //     height: 264px;
    //     left: 20px;
    //     top: 1305px;
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 18px;
    //     line-height: 22px;
    //     text-align: center;
    //     color: #000000;
    // }
}