<section class="product-category container my-3 my-lg-5" ng-controller="ProductCategoryCtrl">
    <div class="row">
        <div class="col-md-3 filter-desktop">
            <h1 class="mb-3">Filter</h1>
            <div class="mb-3 mb-lg-5 filter-brand">
                <h2>Types</h2>
                <div>
                    <label class="container-filter d-flex align-items-center justify-content-between" ng-repeat="type in getTypeCategories()">
                        <span class="brand-name">{{type}}</span>
                        <input type="checkbox" ng-model="filterType[type]">
                        <span class="checkmark"></span>
                        <span class="quantity">6</span>
                    </label>
                </div>
            </div>
            <div class="mb-3 mb-lg-5 filter-brand">
                <h2>Brands</h2>
                <div>
                    <label class="container-filter d-flex align-items-center" ng-repeat="brand in getBrandCategories()">
                        <span class="brand-name">{{brand}}</span>
                        <input type="checkbox" ng-model="filterBrand[brand]">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <!-- <div class="mb-3 mb-lg-5 filter-rating">
                <h2>Ratings</h2>
                <label class="container-filter d-flex align-items-center" for="five">
                    <input type="checkbox" id="five" value="five">
                    <span class="checkmark"></span>
                    <span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star">
                            star
                        </span>
                    </span>
                </label>
                <label class="container-filter d-flex align-items-center" for="four">
                    <input type="checkbox" id="four" value="four">
                    <span class="checkmark"></span>
                    <span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star-outline">
                            star_outline
                        </span>
                    </span>
                </label>
                <label class="container-filter d-flex align-items-center" for="three">
                    <input type="checkbox" id="three" value="three">
                    <span class="checkmark"></span>
                    <span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star-outline">
                            star_outline
                        </span>
                        <span class="material-icons star-outline">
                            star_outline
                        </span>
                    </span>
                </label>
                <label class="container-filter d-flex align-items-center" for="two">
                    <input type="checkbox" id="two" value="two">
                    <span class="checkmark"></span>
                    <span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star-outline">
                            star_outline
                        </span>
                        <span class="material-icons star-outline">
                            star_outline
                        </span>
                        <span class="material-icons star-outline">
                            star_outline
                        </span>
                    </span>
                </label>
                <label class="container-filter d-flex align-items-center" for="one">
                    <input type="checkbox" id="one" value="one">
                    <span class="checkmark"></span>
                    <span>
                        <span class="material-icons star">
                            star
                        </span>
                        <span class="material-icons star-outline">
                            star_outline
                        </span>
                        <span class="material-icons star-outline">
                            star_outline
                        </span>
                        <span class="material-icons star-outline">
                            star_outline
                        </span>
                        <span class="material-icons star-outline">
                            star_outline
                        </span>
                    </span>
                </label>
            </div> -->
        </div>
        <div class="col-md-9">
            <div class="filter-category my-3 position-relative d-flex align-items-center">
                <div class="vl first"></div>
                <label class="container-filter orderBy" for="price">Price
                    <input type="radio" name="filter" id="price" value="price" ng-model="price">
                </label>
                <div class="vl"></div>
                <label class="container-filter orderBy" for="latest">Latest
                    <input type="radio" name="filter" id="latest" value="-publishDate" ng-model="publishDate">
                </label>
                <div class="vl"></div>
                <label class="container-filter orderBy" for="topsales">Top Sales
                    <input type="radio" name="filter" id="topsales" value="-sold" ng-model="sold">
                </label>
                <div class="vl last"></div>
                <span class="material-icons-outlined" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                    filter_alt
                </span>
                <div class="collapse position-absolute" id="collapseFilter">
                    <div class="mb-3 mb-lg-5 filter-type">
                        <h2>Types</h2>
                        <div>
                            <label class="container-filter d-flex align-items-center justify-content-between" ng-repeat="type in getTypeCategories()">
                                <span class="brand-name">{{type}}</span>
                                <input type="checkbox" ng-model="filterType[type]">
                                <span class="checkmark"></span>
                                <span class="quantity">6</span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3 mb-lg-5 filter-brand">
                        <h2>Brands</h2>
                        <div>
                            <label class="container-filter d-flex align-items-center" ng-repeat="brand in getBrandCategories()">
                                <span class="brand-name">{{brand}}</span>
                                <input type="checkbox" ng-model="filterBrand[brand]">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <!-- <div class="mb-3 mb-lg-5 filter-rating">
                        <h2>Ratings</h2>
                        <label class="container-filter d-flex align-items-center" for="five">
                            <input type="checkbox" id="five" value="five">
                            <span class="checkmark"></span>
                            <span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                            </span>
                        </label>
                        <label class="container-filter d-flex align-items-center" for="four">
                            <input type="checkbox" id="four" value="four">
                            <span class="checkmark"></span>
                            <span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star-outline">
                                    star_outline
                                </span>
                            </span>
                        </label>
                        <label class="container-filter d-flex align-items-center" for="three">
                            <input type="checkbox" id="three" value="three">
                            <span class="checkmark"></span>
                            <span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star-outline">
                                    star_outline
                                </span>
                                <span class="material-icons star-outline">
                                    star_outline
                                </span>
                            </span>
                        </label>
                        <label class="container-filter d-flex align-items-center" for="two">
                            <input type="checkbox" id="two" value="two">
                            <span class="checkmark"></span>
                            <span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star-outline">
                                    star_outline
                                </span>
                                <span class="material-icons star-outline">
                                    star_outline
                                </span>
                                <span class="material-icons star-outline">
                                    star_outline
                                </span>
                            </span>
                        </label>
                        <label class="container-filter d-flex align-items-center" for="one">
                            <input type="checkbox" id="one" value="one">
                            <span class="checkmark"></span>
                            <span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star-outline">
                                    star_outline
                                </span>
                                <span class="material-icons star-outline">
                                    star_outline
                                </span>
                                <span class="material-icons star-outline">
                                    star_outline
                                </span>
                                <span class="material-icons star-outline">
                                    star_outline
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="mb-3 mb-lg-5 filter-price">
                        <h2>Price</h2>
                        <div>
                            <label class="container-filter d-flex align-items-center" for="sunco">
                                <input type="radio" id="sunco" value="sunco">
                                <span class="checkmark"></span>
                                <span>Subco</span>
                            </label>
                            <label class="container-filter d-flex align-items-center" for="sunco">
                                <input type="radio" id="sunco" value="sunco">
                                <span class="checkmark"></span>
                                <span>Subco</span>
                            </label>
                            <label class="container-filter d-flex align-items-center" for="sunco">
                                <input type="radio" id="sunco" value="sunco">
                                <span class="checkmark"></span>
                                <span>Subco</span>
                            </label>
                            <label class="container-filter d-flex align-items-center" for="sunco">
                                <input type="radio" id="sunco" value="sunco">
                                <span class="checkmark"></span>
                                <span>Subco</span>
                            </label>
                            <label class="container-filter d-flex align-items-center" for="sunco">
                                <input type="radio" id="sunco" value="sunco">
                                <span class="checkmark"></span>
                                <span>Subco</span>
                            </label>
                        </div> 
                    </div>
                    <div>
                        <button class="btn btn-apply">Apply</button>
                        <button class="btn btn-reset">Reset</button>
                    </div> -->
                </div>
            </div>
            <span>Number of results: {{ filteredResult.length }}</span>
            <div class="product-list">
                <div ng-repeat="product in (products | filter: search | filter: filterByBrandCategory | filter: filterByTypeCategory | orderBy: price | orderBy: publishDate | orderBy: sold) as filteredResult">
                    <div class="item">
                        <a class="img-container d-block" href="#!/Product-category/{{product.id}}">
                            <img ng-src="{{product.imageUrl}}" alt="{{product.name}}">
                        </a>
                        <a href="#!/Product-category/{{product.id}}">
                            <p>{{product.name}}</p>
                        </a>
                        <div class="price">
                            <span class="old-price">{{product.oldPrice}}</span>
                            <span class="new-price">{{product.newPrice}}</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between  mt-2">
                            <span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                                <span class="material-icons star">
                                    star
                                </span>
                            </span>
                            <span class="favorite" ng-click="favorite($event)">
                                <span class="material-icons heart-outline">
                                    favorite_border
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>