<section class="product-detail container-lg my-3 my-lg-5" ng-controller="ProductDetailCtrl">
  <div class="row">
    <div class="col-lg-6">
      <img ng-src="{{mainImageUrl}}" class="w-100 img-desktop" />
      <div class="owl-carousel owl-theme product-detail-carousel">
        <div class="item" ng-repeat="img in product.images">
          <img ng-src="{{img}}" alt="">
        </div>
      </div>
    </div>
    <div class="col-lg-1">
      <div class="w-100 mb-5" ng-repeat="img in product.images">
        <img ng-src="{{img}}" alt="" class="w-100 img-gallery" ng-click="setImage(img)">
      </div>
    </div>
    <div class="product-information col-lg-5 ps-lg-5">
      <p class="product-name pt-3 pb-2 my-0">{{product.name}}</p>
      <div class="d-flex product-sub-information align-items-center justify-content-between">
        <div class="vl first"></div>
        <div class="star-information d-flex align-items-center">
          <p class="my-2 me-1">{{ratingStaticStar}}</p>
          <span class="star-rating" id="productRating" ng-controller="StarStaticCtrl">
            <span ng-repeat="rating in ratings">
              <div star-static-rating rating-value="rating.current" max="rating.max"></div>
            </span>
          </span>
        </div>
        <div class="vl"></div>
        <div>
          <span>{{product.ratings}}</span>
          <span>Ratings</span>
        </div>
        <div class="vl"></div>
        <div>
          <span>{{product.sold}}</span>
          <span>Sold</span>
        </div>
        <div class="vl last"></div>
      </div>
      <div class="price">
        <div class="new-price">{{product.newPrice}}</div>
        <div class="old-price">{{product.oldPrice}}</div>
      </div>
      <div class="detail mt-3">
        <div class="d-flex justify-content-between" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
          <span class="product-description">Product Description</span>
          <span class="material-icons-outlined">
            expand_more
          </span>
        </div>
        <div class="collapse" id="collapseDescription">
          <ul>
            <li ng-repeat="description in product.productDescription">{{description}}</li>
          </ul>
        </div>
      </div>
      <a href="{{product.documentUrl}}" class="btn download-btn p-2 my-3 d-flex align-items-center">
        <span class="material-icons-outlined">
          file_download
        </span>
        Download specifications
      </a>
      <div class="quantity mb-3">
        <label for="quantity">
          <h2>Quantity</h2>
          <div>
            <button class="btn" ng-click="add()">+</button><span class="px-4">{{quantity}}</span><button class="btn"
              ng-click="remove()">-</button>
          </div>
        </label>
      </div>
      <div class="btn-bar d-flex justify-content-between my-0">
        <button ng-click="addToCart($index)" class="btn add-to-cart d-flex flex-column align-items-center me-lg-4">
          <span class="material-icons-outlined">
            add_shopping_cart
          </span>
          <span>Add to cart</span>
        </button>
        <button class="btn buy-now">
          Buy now
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="product-review col-lg-7">
      <div class="product-rating p-2 p-lg-3">
        <h2>Product Ratings</h2>
        <span class="star-rating">
          <span class="star-rating" id="productRating" ng-controller="StarStaticCtrl">
            <span ng-repeat="rating in ratings">
              <div star-static-rating rating-value="rating.current" max="rating.max"></div>
            </span>
          </span>
        </span>
        <div class="reviewer">
          <div class="d-flex justify-content-between mb-2 mb-lg-3" ng-repeat="reviewer in reviews">
            <div class="reviewer-ava">
              <img ng-src="{{reviewer.avatarUrl}}" alt="">
            </div>
            <div class="reviewer-brief p-2 p-lg-3">
              <h3 class="reviewer-name">{{reviewer.name}}</h3>
              <span class="star-rating">
                <span class="star-rating" id="productRating" ng-controller="StarReviewCtrl">
                  <span ng-repeat="rating in ratingReviews">
                    <div star-static-rating rating-value="rating.current" max="rating.max"></div>
                  </span>
                </span>
              </span>
              <p class="reviewer-cmt m-0 p-0">
                {{reviewer.review}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <form class="my-3">
        <h3>Your rating</h3>
        <span class="star-rating">
          <!-- <span class="material-icons star">
            star
          </span>
          <span class="material-icons star">
            star
          </span>
          <span class="material-icons star">
            star
          </span>
          <span class="material-icons star">
            star
          </span>
          <span class="material-icons star-outline">
            star_outline
          </span> -->
          <div class=col-md-12>
            <div ng-repeat="rating in ratings">
              <div star-rating rating-value="rating.current" max="rating.max"
                on-rating-selected="getSelectedRating(rating)"></div>
            </div>
          </div>
    </div>
    </span>
    <div class="comment">
      <h3>Your review</h3>
      <textarea name="review" id="review" ng-model="myReview" class="p-2 p-lg-3"
        placeholder="Please let us know how do you feel about this product...">
                </textarea>
      <button class="px-3 submit-btn d-flex align-items-center justify-content-center mt-2 mb-4" ng-click="addReview()">
        Submit
      </button>
    </div>
    </form>
  </div>
  <div class="related-product">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mb-3">RELATED PRODUCT</h1>
    </div>
    <section class="product-carousel">
      <div class="owl-carousel owl-theme owl-product-carousel mb-4 mb-lg-5">
        <div ng-repeat="product in relatedProduct">
          <a href="#!/Homepage/{{product.id}}" class="item">
            <img ng-src="{{product.imageUrl}}" alt="{{product.name}}">
            <p>{{product.name}}</p>
            <div class="price">
              <span class="old-price">{{product.oldPrice}}</span>
              <span class="new-price">{{product.newPrice}}</span>
            </div>
            <div class="d-flex align-items-center justify-content-between  mt-2">
              <span>
                <span class="material-icons star">
                  star
                </span>
                <span class="material-icons star">
                  star
                </span>
                <span class="material-icons star">
                  star
                </span>
                <span class="material-icons star">
                  star
                </span>
                <span class="material-icons star">
                  star
                </span>
              </span>
              <span>
                <span class="material-icons heart-outline">
                  favorite_border
                </span>
              </span>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
  </div>
</section>